# Password for the admin interface
POST_PASSWORD=test

# Database connection
DATABASE_PROTOCOL=mongodb
DATABASE_HOSTNAME=localhost
DATABASE_USERNAME=charity
DATABASE_PASSWORD=password
DATABASE_NAME=charity
