.wrapper {
  width: 100%;
  max-height: 225px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.wrapper .slideshow {
  display: flex;
  width: fit-content;
  animation: moveSlideshow linear infinite;
  animation-duration: var(--duration);
}

.wrapper .fade {
  background: linear-gradient(
    90deg,
    #222222b0,
    transparent 5%,
    transparent 95%,
    #222222b0
  );
  position: absolute;
  inset: 0;
  pointer-events: none;
}

@keyframes moveSlideshow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
